alabaster
altair==4.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow
astroid
asttokens
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
backports.zoneinfo==0.2.1
bcrypt
beautifulsoup4
binaryornot
black==19.10b0
bleach==5.0.0
blinker==1.4
brotlipy==0.7.0
cachetools==5.1.0
certifi==2022.5.18.1
cffi
chardet
charset-normalizer==2.0.12
click
cloudpickle
colorama
cookiecutter
cryptography
debugpy==1.6.0
decorator
defusedxml
diff-match-patch
docutils
entrypoints 
executing
fastjsonschema==2.15.3
flake8
gitdb==4.0.9
GitPython==3.1.27
idna
imagesize
importlib-metadata==4.11.4
importlib-resources==5.7.1
inflection==0.5.1
intervaltree
ipykernel==6.13.0
ipython
ipython-genutils
ipywidgets==7.7.0
isort
jedi
Jinja2==3.1.2
jinja2-time
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keyring
lazy-object-proxy
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
multitasking==0.0.10
mypy-extensions==0.4.3
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio
notebook==6.4.11
numpy==1.22.4
numpydoc
packaging
pandas==1.4.2
pandocfilters
paramiko
parso
pathspec==0.7.0
pexpect
pickleshare
Pillow==9.1.1
pluggy
poyo
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
ptyprocess
pure-eval
pyarrow==8.0.0
pycodestyle
pycparser
pydeck==0.7.1
pydocstyle
pyflakes
Pygments==2.12.0
pylint
pyls-spyder==0.4.0
Pympler==1.0.1
PyNaCl 
pyOpenSSL
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.0.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
regex
requests
rope
Rtree
semver==2.13.0
Send2Trash==1.8.0
sip==4.19.13
six
smmap==5.0.0
snowballstemmer
sortedcontainers
soupsieve==2.3.2.post1
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder
spyder-kernels
stack-data
streamlit==1.9.0
terminado==0.15.0
testpath
text-unidecode
textdistance
three-merge
tinycss
tinycss2==1.1.1
toml
toolz==0.11.2
tornado 
traitlets==5.2.1.post0
typed-ast
typing_extensions
tzdata==2022.1
tzlocal==4.2
ujson 
Unidecode
urllib3
validators==0.19.0
watchdog==2.1.8
wcwidth
webencodings==0.5.1
widgetsnbextension==3.6.0
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
yapf
yfinance==0.1.70
zipp
